@model IEnumerable<CourseProject.Domain.Contracts.ViewModels.ShowProjectViewModel>


<div style="margin-top:50px;">
    @if (ViewBag.TagCloud != null)
    {
        @foreach (var tag in ViewBag.TagCloud)
        {
            <a asp-action="GetTag" class="btn btn-outline-secondary" asp-route-tag="@tag">@tag</a>
        }

        <hr id="hara" />
    }
</div>



<div class="row">
    @if (Model != null)
    {
        @foreach (var project in Model)
        {
            <div class="col-4" style="margin-bottom:26px;">
                <a asp-action="Get" asp-route-Id="@project.Id" id="cardDesk">
                    <div class="card">
                        <img src="@project.Image" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@project.Title</h5>
                            <p class="card-text">@project.Subtitle</p>
                        </div>
                    </div>
                </a>
            </div>
        }
    }
    else
    {
        <p>Dont have result!</p>
    }

</div>

