@model IEnumerable<CourseProject.Domain.Contracts.ViewModels.RewardViewModel>

    <script>scrollReward();</script>

    <div class="row">
        <div class="col-3">
            <div >PLEDGE AMOUNT</div>
        </div>
        <div class="col-9">
            <div style="margin-left: 6px;">DETAILS</div>
        </div>
    </div>

    <br />

@foreach (var reward in Model)
{
<a data-ajax="true"
   data-ajax-update="#viewReward"
   data-ajax-mode="replace"
   asp-controller="Project"
   asp-action="GetReward"
   asp-route-id="@reward.Id"
   id="cardDesk">
    <div class="card" id="cardHover" style="margin-bottom: 30px;">
        <div class="card-body" style="height: 130px">
            <div class="row">
                <div class="col-3">
                    <div style="font-size: 27px;">$ @reward.Amount</div>
                </div>
                <div class="col-9">
                    <div style="font-size: 25px;">@reward.Title</div>
                    <div>@reward.Description</div>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            <div>
                <div class="row justify-content-end">
                    <div class="col-1">
                        <a data-ajax="true"
                           data-ajax-update="#viewReward"
                           data-ajax-mode="replace"
                           asp-controller="Project"
                           asp-action="GetReward"
                           asp-route-id="@reward.Id"
                           id="cardLink">
                            Update
                        </a>
                    </div>
                    <div class="col-1">
                        <a data-ajax="true"
                           data-ajax-update="#panel"
                           data-ajax-mode="replace"
                           asp-controller="Project"
                           asp-action="DeleteReward"
                           asp-route-id="@reward.Id"
                           id="cardLink">
                            Remove
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>
}

<div id="viewReward"></div>